/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #111;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #f1f2f3;
    transition: background-color 0.7s;
    overflow-y:hidden;
}


body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #111;
    /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
    /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

.cover-container {
    width: 100vw;
}


/*
 * Header
 */
.text-wrapper {
    position: relative;
    display: inline-block;
    padding-left: 0.1em;
    padding-right: 0.05em;
    overflow: hidden;


}

.letter {
    display: inline-block;
    line-height: 1.3em;
}

h2 {
    -webkit-transition: font-size 1s;
    transition: font-size 1s;
    font-size: 2.5rem;
}



.masthead {
    margin-bottom: 2rem;
    z-index: 10;
}

.masthead-brand {
    margin-bottom: 0em;
}

.slider {
    position: relative;
    display:block;
    left: 0;
    top:90%;
    margin:0 auto;
    height: 0.25rem;
    background-color: #212529;
    width: 0;
    transition: width 1s;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(1, 1, 1, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    transition: border 0.2s;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(1, 1, 1, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #111;
    border-bottom-color: #111 !important;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(1, 1, 1, .5);
    z-index: 10;
}


.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

canvas {
    display: block; /* fix necessary to remove space at bottom of canvas */
}

#actualBody {
}

.line-scale-pulse-out > div {
    background-color: black;
}

#threejs {
    z-index: 0;
}

.workContainer {
    position: absolute;
    max-width: 768px;
    width: 130vw;
    /*TODO iPad support*/
    background-color: rgba(255,255,255,0.85);
    border-radius: 2rem;
    border-color: #111;
    border-style: solid;
    margin-top: -1000000px;
    opacity: 0;
}

.workContainerContainer {
    overflow: hidden;
}

iframe {
    vertical-align: middle;
}

.leftArrow, .rightArrow {
    display: inline-block;
}

.css3d {
    z-index: 2;
}

.workTitle {
    padding: 1rem;
}

.descriptionText {
    text-align: left;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.keywords {
    text-align: left;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 2rem;
}

.keywordsText {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}

.keyword {
    border-radius: 2rem;
    border-color: #111;
    border-style: solid;
    padding: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: 3rem;
    font-weight: 700;
    font-size: 1.3rem;
    white-space:nowrap;
}

.frontend {
    background-color: pink;
}

.backend {
    background-color: cornflowerblue;
}

.other {
    background-color: palegoldenrod;
}

.links {
    text-align: left;
    padding-left: 1rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

#grain {
    width: 100%;
    height: 100%;
    position: absolute !important;
    opacity: 0;
}

.outerBar {
    z-index: 100;
    background-color: white;
    position: absolute;
    width: 1vh;
    height: 70vh;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    right: 5vw;
    top: 15vh;
}

@media (min-width: 1200px) {
    .outerBar {
        right: 30vw;
    }
}

.innerBar {
    background-color: black;
    position: relative;
    width: 1vh;
    height: 7vh;
    top : 0;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
}

.videoPreview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.preview {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

/*TODO Flexbox z-index? why isnt z-index working with the top bar?*/